@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
  background-color: #F2F2F2;
}
.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
  margin-left: 12.5%;
  width: 75%;
  margin-top: 5%;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.quiz-header {
  padding: 4rem;
}

h1 {
  padding: 1rem;
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #696969;
}

@media (max-width: 425px){
  .quiz-container {
    margin: 0;
    margin-left: 0%;
    height: 100%;
    width: 100%;
    box-shadow: none;
  box-shadow: none;
  box-shadow: none;
  }

.quiz-header {
  padding: 0;
}

h1 {
  padding: 10px;
  text-align: center;
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
}
}
.dropdown{
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: orangered;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #ff7518;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: lightgrey;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #ff7518;
}
.details
{
    margin-top: 40px;
}
h3 div{
    display: inline;
    color: black;
    font-family: Poppins, sans-serif;
}
h3 {
  padding: 2px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  display: inline;
  font-weight: 500;
  font-size: 18px;
  color: green;
  line-height:30px;
}

.dropdown-skills{
  display:flex;
  justify-content: space-evenly;
  justify-content: space-between;
  
}
@media (max-width: 1150px){
  .dropdown{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
}
* {box-sizing:border-box}

.container {
  width: 100%; 
  background-color: #ddd; 
  margin: 20px;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}
.skills div{
  text-align: left;
  display: inline;
  float: left;
  margin-left: 10px;
}

.html {width: 90%; background-color:#FF8C00;} 

.dropdown-skills{
  display:flex;
  justify-content: space-evenly;
  justify-content: space-between;
  
}