.signin-page{
    height: 104vh;
    background-color: rgb(235, 235, 235);
  }
  .signin-page .sign-content{
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
  }
  .signin-page .sign-content header{
    color: #222;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
  }
  .signin-page .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
  }
  .signin-page .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .signin-page .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .signin-page .space{
    margin-top: 16px;
  }
  .signin-page .show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .signin-page .pass-key:valid ~ .show{
    display: block;
  }
  .signin-page .pass{
    text-align: left;
    margin: 20px 5px;
  }
  .signin-page .pass a{
    color: #222;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
  }
  .signin-page .pass:hover a{
    text-decoration: underline;
  }
  .signin-page .field input[type="submit"]{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .signin-page .field input[type="submit"]:hover{
    background: #ff531e;
    transition: all .3s ease;
  }
  
  
  i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .signin-page .signup{
    margin-top: 10px;
    font-size: 17px;
    color: #222;
    font-family: 'Poppins',sans-serif;
  }
  .signin-page .signup a{
    color: #3498db;
    text-decoration: none;
  }
  .signin-page .signup a:hover{
    text-decoration: underline;
  }
@media(max-width: 425px){
  .signin-page .sign-content{
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    box-shadow: none;
    border-radius: 0px;
  }
}
@media(max-width: 320px){
  .signin-page .sign-content{
    width: 300px;
    padding: 0px 0px;
  }
}
@media(max-width: 320px){
  .signin-page .sign-content{
    width: 250px;
    padding: 0px 0px;
  }
  .signin-page .sign-content header{
    font-size: 25px;
  }
}
textarea{
  border: 0px;
}