@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
:root{
    --main-color:#ff3d00;
  --main-color-light:#ff531e;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
section{
    min-height: 80vh;
    border:solid 1px rgb(196, 196, 196);
}
a{
    color: white;
    text-decoration: none;
}
body{
  background: #f2f2f2;
  text-decoration: none;
  overflow-x: hidden;
}
/* -----------------------------------NAVBAR SECTION START------------------------------------ */
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .logo:hover {
    transform: scale(1.1);
    transition: all .5s ease;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .log li {
    color: white;
    margin-left: 70%;
}
nav .user span{
    color: white;
}
nav .nav-items li a:hover{
  color: var(--main-color);
}

nav .menu-icon,
nav .cancel-icon,
nav .user{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .user{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  
  nav .menu-icon{
    display: block;
  }
  nav .user, 
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .user.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX NAVBAR SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* -----------------------------------LANDING PAGE SECTION START------------------------------------ */
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content h1{
  font-size: 60px;
  font-weight: 700;
}
.content h3{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .2rem;
}
.content  p{
  padding-top: 5px;
  font-size: 20px;
  font-weight: 700;
 
}
.home-btn{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 32px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    border-color:var(--main-color);
}
.home-btn:hover {
    
    transform: translateY(-3px);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: ease all .3s;
  }
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .user{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
  .content h1{
    font-size: 50px;
    
  }
  .content h3{
    font-size:26px;
  }
  .content  p{
    font-size: 18px;
  }
  .home-btn{
    font-size: 18px;
  }
  
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .user{
    margin: 0 10px;
    font-size: 16px;
  }
  .content h1{
    font-size: 40px;
    
  }
  .content h3{
    font-size:23px;
  }
  .content  p{
    font-size: 15px;
  }
  .home-btn{
    font-size: 17px;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX LANDING PAGE SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.home2{
  min-height: 80vh;
}
.home2 {
    background: #f2f4f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    font-family: "Open Sans";
  }
.home2{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
}
/* -----------------------------------LINK CARDS PAGE SECTION START------------------------------------ */

.education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
  }
  
  .credentialing {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .wallet {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .human-resources {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }

.blog-cards{

	width: 200px;
	height: 300px;
	background: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
	text-decoration: none;
    margin-bottom: 5px;
  
  }
  
  .blog-cards:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .blog-cards:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .blog-cards:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .blog-cards:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .blog-cards:hover p {
    color: var(--text-color-hover);
  }
  
  .blog-cards:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .blog-cards p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5.3px;
    left: 5.5px;
    transition: opacity 0.3s ease-out;
  }
  
  .circle svg {
    z-index: 10000;
    transform: translateZ(0);
  }
  
  .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 65px;
    left: 45px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
  /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX LINK CARDS SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* -----------------------------------APPRECIATION PAGE SECTION START------------------------------------ */

  .home4-head{
  position: absolute;
  transform: translate(-50% -50%);
  text-align: center;
  width: 100%;
  margin: 20px 0px ;
}
.home4-head h1{
  font-size: 40px;
}

  .testimonials-section {
    background:rgba(255, 73, 27, 0.842);
    height: 500px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 80px 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
  .slider__inner {
    position: absolute;
    top: 80px;
    left: 0;
    width: 500%;
    height: auto;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__caption {
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: .6;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .slider__txt {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto';
    line-height: 1.7;
    color: rgb(255, 255, 255);
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 750px;
  }
  quote {    
    font-weight: bold;
    font-size: 100px;
    color: #fff8f8;
    margin-bottom: 0;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX APPRECIATION SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -----------------------------------WHY DO YOU TRUST PAGE SECTION START------------------------------------ */
.trust-block{
	max-width: 800px;
  height: 400px;
	margin:100px auto;
	background:rgba(255, 86, 44, 0.842);
	border-radius:2px;
	padding:20px;
	font-family: 'Montserrat', sans-serif;
}
.inner-text
{
  background-color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  color:black;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 355px;
	line-height: 25px;
	font-size: 20px;
  padding: 20px;
  z-index: 4;
  overflow: scroll;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX WHY DO YOU TRUST US SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* -----------------------------------FOOTER SECTION START------------------------------------ */

  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  li{
    text-align: justify;
  }
  .footer{
    background-color:  #050505;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  } 
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col .footer-para {
    letter-spacing: 2px;
    text-align: initial;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: wheat;
    background-color: var(--main-color);
  }
  
  .end center{
    padding: 5px;
    font-size: 0.9375rem;
    background: var(--main-color);
  }
  .end center span{
    color: #fff8f8;
  }
  .end center a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }
  .end center a:hover{
    text-decoration: underline;
  }
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  @media(max-width: 425px){
    nav{
      background: #171c24;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      padding: 0 20px;
      width: 100%;
    }
  }
  /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX FOOTER PAGE SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */
@media (max-width: 980px){
    
    nav .menu-icon,
    nav .cancel-icon,
    nav .user{
      margin: 0 20px;
    }
    .home2{
      min-height: 132vh;
    }
    nav form{
      right: 30px;
    }
    .content h1{
      font-size: 50px;
      
    }
    .content h3{
      font-size:23px;
      letter-spacing: 0.1rem;
    }
    .content  p{
      font-size: 18px;
      padding-top: 10px;
    }
    .home-btn{
      font-size: 18px;
    }
    .inner-text{
      font-size: 15px;
    }
    
  }

  @media (max-width: 640px){
    .testimonials-section {
      background: rgb(255, 98, 41);
      height: 600px;
    }
    .home4-head h1{
      font-size: 30px;
    }
    .home2{
      min-height: 135vh;
    }
    .content h1{
      font-size: 40px;
      
    }
    .content h3{
      font-size:23px;
      letter-spacing: 0rem;
    }
    .content  p{
      font-size: 15px;
      padding-top: 10px;
    }
    .home-btn{
      font-size: 17px;
    }
    .blog-cards{

      width: 170px;
      height: 270px;
    }
    .overlay {
  
      top: 55px;
      left: 30px;
      
      }
    
  }
  @media (max-width: 400px){
    
    
  }
  @media (max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .user{
      margin: 0 10px;
      font-size: 16px;
    }
    .blog-cards{

      width: 170px;
      height: 270px;
    }
    .overlay {
  
      top: 55px;
      left: 30px;
      
      }

    .home4-head h1{
      font-size: 25px;
    }
    .home2{
      min-height: 140vh;
    }
    .content h1{
      font-size: 38px;
      
    }
    .content h3{
      font-size:20px;
    
    }
    .content  p{
      font-size: 14px;
    }
    .home-btn{
      font-size: 16px;
    }
  }
  @media (max-width: 340px){
    .home2{
      min-height: 250vh;
    }
  }

