@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

.heading{
    color: orangered;
    background-color:#171c24 ;
    display: block;
    padding: 10px;
    border: solid 3px black;
    text-align: center;
    font-size: 20px;
}
section{
  border: none;
}
.heading span{

  margin-left: 15px;
  font-size: 2rem
}

.Containers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
    min-height: 5vh;
}
.Containers button{
  align-self: center;
}

.layout{

  padding: 15px;
  margin: 15px;
  border: solid 1px gray;
  border-radius: 20px;  
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  box-shadow: offset 0 0 10px;
}
.layout div{
  padding: 3px;
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: orangered;
    background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: red;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),inset 2px 2px 3px rgba(0, 0, 0, .6);
}
@media(max-width: 425px)
{
  .heading span{
    font-size: 1.8rem;
  }
}