:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(0, 0%, 45%);
  --veryLightGray: hsl(0, 0%, 96%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}
a{
  text-decoration: none;
}
body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--veryLightGray);
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box h2{
  color: grey;
  margin: 13px 0px;
}
.box p {
  color: var(--grayishBlue);
  margin-bottom: 25px;
}

.box {
  background:var(--veryLightGray);
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
  padding-top: 7px;
}


@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center; 
}
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}
.green {
  border-top: 3px solid rgb(36, 182, 0);

}
.button {
 margin: 2px;
  padding: 0.55rem 0.8rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  animation: fadeInAnimation ease 1s;
  /* optional reset for presentation */
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 2px;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
 
  transition: all 0.3s;
  border-radius: 2px;
  z-index: -1;
}
.red .button:after{
  background-color: orangered;
}
.red .button:before{
  background-color:#ee3102 ;
}
.blue .button:after{
  background-color: var(--blue);
}
.blue .button:before{
  background-color:hsl(212, 100%, 56%) ;
}
.green .button:after{
  background-color: rgb(134, 223, 0);
}
.green .button:before{
  background-color: rgb(105, 175, 0);
}

.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}
@media (max-width:500px){
  .head-texts p{
    font-size: 20px;
   
   }
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 27%;
   
  }
  .header p {
      width: 30%;
  }
  
}
.button-wrap{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media(max-width:340px){
.box{
padding: 10px;
height: 245px;
}
.button{
  font-size: 10px;
}
.heading{
  font-size: 15px;
}
}
.heading{
color: orangered;
background-color:#171c24 ;
display: block;
padding: 10px;
border: solid 3px black;
text-align: center;
font-size: 12px;
margin: 0px;
}
.heading span{
margin-left: 15px;
}
