@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
:root{
    --main-color:#ff3d00;
  --main-color-light:#ff531e;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
section{
    min-height: 80vh;
    border:solid 1px rgb(196, 196, 196);
}
a{
    color: white;
    text-decoration: none;
}
body{
  background: #f2f2f2;
  text-decoration: none;
  overflow-x: hidden;
}
/* -----------------------------------NAVBAR SECTION START------------------------------------ */
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .logo:hover {
    transform: scale(1.1);
    transition: all .5s ease;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .log li {
    color: white;
    margin-left: 70%;
}
nav .user span{
    color: white;
}
nav .nav-items li a:hover{
  color: var(--main-color);
}

nav .menu-icon,
nav .cancel-icon,
nav .user{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .user{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  
  nav .menu-icon{
    display: block;
  }
  nav .user, 
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .user.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX NAVBAR SECTION END XXXXXXXXXXXXXXXXXXXXXXXXXXXX */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');



.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
  margin-left: 12.5%;
  width: 75%;
  margin-top: 5%;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.quiz-header {
  padding: 4rem;
}

div {
  padding: 10px;
  display: block;
  font-weight: 400;
}
h2{
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  margin-top: -4rem;
  border-bottom: solid 3px orangered;
  margin-bottom: 1rem;
}
@media(max-width: 445px){
  .quiz-container{
    margin-left: 0%;
    width: 100%;
    margin-top: 0%;
  }
}
@media(max-width: 320px){
  .quiz-header{
    padding: 10px;
    padding-top: 4rem;
  }
}