@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
:root{
  --main-color:#ff3d00;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
 
}
section{
  height: 72vh;
  border:solid 1px rgb(196, 196, 196);
}
a{
  color: white;
  text-decoration: none;
}
body{
  background: #f2f2f2;
  text-decoration: none;
}
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .logo:hover {
  transform: scale(1.1);
  transition: all .5s ease;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
#userlogo{
  padding:10px ;
  margin: 15px;
  border: solid orange 4px;
  border-radius: 50%;
}
.main-navigation {
    padding-bottom:7px ;
    border-bottom-style: solid;
    border-bottom-color: yellow;
    border-bottom-width: 3px;
}
nav .log li {
  color: white;
  margin-left: 70%;
}
nav .user span{
  color: white;
}
nav .nav-items li a:hover{
  color: var(--main-color);
}

nav .menu-icon,
nav .cancel-icon,
nav .user{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .user{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;

  }
  .color{
     color:darkgrey;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  
  nav .menu-icon{
    display: block;
  }
  nav .user, 
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .user.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}




.heading{
    color: orangered;
    background-color:#171c24 ;
    display: block;
    padding: 10px;
    border: solid 3px black;
    text-align: center;
    font-size: 20px;
}
.heading span{

  margin-left: 15px;
}

.Containers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
    height: 30vh;
}
.Containers button{
  align-self: center;
}

.layout{

  padding: 15px;
  margin: 15px;
  border: solid 1px gray;
  border-radius: 20px;  
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  box-shadow: offset 0 0 10px;
}
.layout div{
  padding: 3px;
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: orangered;
    background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: red;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),inset 2px 2px 3px rgba(0, 0, 0, .6);
}