{% extends 'Home/nav.html' %}
{% load static %}
{% block title %}
{% if name == 'resources' %}
10thies | Resources
{% else %}
10thies | Quickmap
{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style-resources.css' %}">
      <div class=heading>
         <h1><i class="{{logo}}"><span>{{subname}}</span></i></h1>
      </div>
      {% for res in resources %}
      <section class="Containers">
         <div class="layout">
            {% if name == 'resources' %}
            <iframe
             src="{{res.pdf.url}}"
             frameBorder="0"
             scrolling="auto"
             height="100%"
             width="25%"
             align="right"
             ></iframe>
             {% else %}
             <img src="{{res.quickmap.url}}" alt="quickmaps" width="150px" align="right" margin-right="20px">
             {% endif %}
         <div class="Subcode">{{res.subcode}}</div>
         <div class="Chname">{{res.subname}}</div>
         <div class="Level">{{res.chname}}</div> <br>
         {% if name == 'resources' %}
         {% if user.is_authenticated %}

         <div class="buttoncenter"><a href="{{res.pdf.url}}"><button class="favorite styled"type="button">
          PREVIEW
         </button></a>
      </div>
       <div class="buttoncenter"><a href="{{res.pdf.url}}" download=""><button class="favorite styled"type="button">
          DOWNLOAD
         </button></a>
      </div>
      {% else %}
      <div class="buttoncenter"><a href="{% url 'signup' %}"><button class="favorite styled"type="button">
         PREVIEW
        </button></a>
     </div>
      <div class="buttoncenter"><a href="{% url 'signup' %}"><button class="favorite styled"type="button">
         DOWNLOAD
        </button></a>
     </div>
      {% endif %}
      {% else %}
      {% if user.is_authenticated %}
      <div class="buttoncenter"><a href="{{res.quickmap.url}}"><button class="favorite styled"type="button">
         PREVIEW
        </button></a>
     </div>
      <div class="buttoncenter"><a href="{{res.quickmap.url}}" download=""><button class="favorite styled"type="button">
         DOWNLOAD
        </button></a>
     </div>
     {% else %}
     <div class="buttoncenter"><a href="{% url 'signup' %}"><button class="favorite styled"type="button">
      PREVIEW
     </button></a>
  </div>
   <div class="buttoncenter"><a href="{% url 'signup' %}"><button class="favorite styled"type="button">
      DOWNLOAD
     </button></a>
  </div>
  </div>
     {% endif %}
     {% endif %}
      </div>
   </section>
   {% endfor %}
{% endblock %}
