{% extends 'Home/nav.html' %}
{% load static %}
{% block title %}
{% if name == 'resources' %}
10thies | Resources
{% else %}
10thies | Quickmap
{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style-resources.css' %}">

      <div class="wrap">
         {% for res in resources %}
         <div class="box red">
             <h2 style="color: black; font-size: 27px;">{{res.subject.subname}}</h2>
             <h2 style="color: rgb(19, 19, 19);">{{res.subject.chname}}</h2>
             <p>Strictly according to CBSE class 10th Syllabus</p>
             <div class="button-wrap">
                 {% if name == 'resources' %}
                 {% if user.is_authenticated %}
                 <a href="{{res.pdf.url}}" class="button">Preview</a>
                 <a href="{{res.pdf.url}}" class="button" download="" >Download</a>
                 {% else %}
                 <a href="{% url 'signup' %}" class="button">Preview</a>
                 <a href="{% url 'signup' %}" class="button">Download</a>
                 {% endif %}
                 {% else %}
                 {% if user.is_authenticated %}
                 <a href="{{res.quickmap.url}}" class="button">Preview</a>
                 <a href="{{res.quickmap.url}}" class="button" download="">Download</a>
                 {% else %}
                 <a href="{% url 'signup' %}" class="button">Preview</a>
                 <a href="{% url 'signup' %}" class="button">Download</a>
                 {% endif %}
                 {% endif %}
             </div>
            </div>
         {% endfor %}
     </div>
{% endblock %}
