{% extends 'Home/nav.html' %}
{% block title %}10thies | All Questions {% endblock %}
{% block content %}

<div><a href="{% url 'each_subject_analysis' %}">Each Subject Analysis</a></div>
<div><a href="{% url 'custom_subject_compare' %}">Compare one subject with another</a></div>
<div><a href="">Compare Best subject with weak subject</a></div>
<div><a href="">Compare the performance with respect to last week,last month, custom day etc...</a></div>
<div><a href="">Check your growth and what could be your next step</a></div>
<div><a href="{% url 'compare_with_user' %}">Compare yourself with other user</a></div>
<div><a href="">Check who saw your profile</a></div>
<div><a href="">How's your overall performance is</a></div>
<div><a href="">How can you grow up yourself</a></div>
{% endblock %}