{% extends 'Home/nav.html' %}
{% load static %}
{% block content %}
     <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
  
     
    <section class="report">
        <h1  style="border-bottom: black solid 2px;" class="heading">Report Card
        </h1>
      
          <div style="padding-top: 60px; margin-top: 70px;" class="profile-card js-profile-card">     
           
            
            <div class="profile-card__cnt js-profile-cnt">
              <div class="profile-card__img profile-pic">
               <img src="{{profile.profile_img.url}}" alt="">
              </div>
              <div class="profile-card__name">{{profile.user.username}}</div>
              <div class="profile-card__txt"> <strong>Student</strong> </div>
              <div class="profile-card__txt">{{profile.user.email}}</div>
            
        
              <div class="profile-card-inf">
                <div class="profile-card-inf__item">
                  <div class="profile-card-inf__title">{{total_test}}</div>
                  <div class="profile-card-inf__txt">Tests</div>
                </div>
      
                <div class="profile-card-inf__item">
                  <div class="profile-card-inf__title">{{tres.totalmarks}}</div>
                  <div class="profile-card-inf__txt">Your Total</div>
                </div>
      
                <div class="profile-card-inf__item">
                  <div class="profile-card-inf__title">{{tres.marksobtained}}</div>
                  <div class="profile-card-inf__txt">Total Marks</div>
                </div>
        
                <div class="profile-card-inf__item">
                  <div class="profile-card-inf__title">{{tres.percentage}}</div>
                  <div class="profile-card-inf__txt">Percentage</div>
                </div>
                <div class="profile-card-inf__item">
                  <div class="profile-card-inf__title">{{profile.points}}</div>
                  <div class="profile-card-inf__txt">Points</div>
                </div>
                
              </div>
        
      
              
            
            </div>
          </div>
      
        <section style="border: none;" class="overall-graph">
          
             <h1 style=" font-size: 35px; color: black;"  class="heading">Subject Analysis</h1>
                <!--chart start-->
                     
                <div class="skills">        
                   <div class="charts">
                     <div class="chart chart--dev">
                      
                       <ul class="chart--horiz">
                        {% for sub,value in subjects.items %}
                        <div style="margin-bottom: 10px; background-color: #fafafa;">
                          <span class="chart__label" style="float: right; padding-right: 10px;
                          z-index: 100; position: relative;">
                            {{value}}%
                         </span>
                          <li class="chart__bar" style="width: {{value}}%;">
                            <span class="chart__label">
                              {{sub}}
                            </span>
                            
                          </li>
                        </div>
                         {% endfor %}
                       </ul>
                     </div>
                     
                   </div>
                 </div>
                 
                 <!--chart end-->
          </section>

          
          <section style="border: none;" class="improve">
            {% if tvalue < 30 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">We believe that you will soon upgrade yourself</h1>
            {% elif tvalue < 50 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">Keep going one day you will be there</h1>
            {% elif tvalue < 75 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">Great going keep it up</h1>
            {% elif tvalue < 80 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">Your are a superior person and your are going to rock in your future</h1> 
            {% elif tvalue < 90 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">Your are a extra odinary student only 15% students deserve this position</h1>
            {% elif tvalue < 100 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">Your are a legend and born to contribute to this would only 10% students deserves this position</h1>
            {% elif tvalue == 100 %} <h1 style="color: black; border: solid rgba(0, 0, 0, 0.288) 2px; padding: 15px 0px; font-size: 30px;" class="heading">You have something special. We would like to contact with you <a style="color: orangered;" href="{% url 'contact-us' %}">Contact Us</a></h1>
            {% endif %}
          </section>
         
            <h1 style=" font-size: 35px; color: black;"  class="heading">Let's Compare !</h1>
            <div class="box">
              <a href="{% url 'compare_with_user' %}"><button class="profile-card__button button--orange" style="margin-bottom: 5px;">Compare Friends</button></a>
              <a href="{% url 'custom_subject_compare' %}"><button class="profile-card__button button--blue js-message-btn">Compare Subjects</button></a>
            </div> 
         
            <section style="border: none;" class="suggestion">
              <h1 style=" font-size: 35px; color: black;"  class="heading">Highlights</h1>
              <div class="skills">        
               <div class="charts">
                 <div class="chart chart--dev">
                  
                   <ul class="chart--horiz">
                     <h3 style="margin-bottom: 3px;" >Best Chapter</h3>
                   {% for sub in best_subjects %}
                   <h4 style="color: grey; margin-bottom: 2px;">{{sub.chname}}</h4>
                     <div style="margin-bottom: 10px; background-color: #fafafa;">
                      <span class="chart__label" style="float: right; padding-right: 10px;
                      z-index: 100; position: relative;">
                        {{sub.percentage}}%
                     </span>
                      <li class="chart__bar" style="width: {{sub.percentage}}%;">
                        <span class="chart__label">
                          {{sub.subname}}
                        </span>
                        
                      </li>
                    </div>
                    {% endfor %}
                  
                    <h3 style="margin-bottom: 3px;" >Weak Chapter</h3>
                    {% for sub in weak_subjects %}
                    <h4 style="color: grey; margin-bottom: 2px;">{{sub.chname}}</h4>
                      <div style="margin-bottom: 10px; background-color: #fafafa;">
                       <span class="chart__label" style="float: right; padding-right: 10px;
                       z-index: 100; position: relative;">
                         {{sub.percentage}}%
                      </span>
                       <li class="chart__bar" style="width: {{sub.percentage}}%;">
                         <span class="chart__label">
                           {{sub.subname}}
                         </span>
                         
                       </li>
                     </div>
                     {% endfor %}
                    
                   </ul>
                 </div>
                 
               </div>
             </div>
           </section>
           
    </section>
          
{% endblock %}