<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <link rel="stylesheet" href="analysis.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="quiz-container" id="quiz">
      <div class="quiz-header">


        <h1>COMPARE 2 SUBJECTS</h1>
        <div class="dropdown">
        <div class="select">
      <select name="format" id="format">
      <option selected disabled>Choose a Subject</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
      <option value="d">D</option>
      <option value="e">E</option>
   </select>
</div>

      <div class="select">
      <select name="format" id="format">
      <option selected disabled>Choose a Subject</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
      <option value="d">D</option>
      <option value="e">E</option>
   </select>
</div>
</div>
<div class="dropdown">
    <div class="details">
<h3><div>Subject:</div> {{sub1}}</h3><br>
<h3><div>Total Test of this particular subject:</div> {{subDetail1.total_test}}</h3><br>
<h3><div>Total marks of test:</div> {{subDetail1.total_marks}}</h3><br>
<h3><div>Marks obtained:</div> {{subDetail1.marksobtained}}</h3><br>
<h3><div>Best chapter:</div>{{subDetail1.best_chapter}}</h3><br>
<h3><div>Weak Chapter:</div>{{subDetail1.weak_chapter}}</h3><br>
<h3><div>Best Chapter Marks:</div> {{subDetail1.best_chapter_marks}}</h3><br>
<h3><div>Weak Chapter Marks:</div> {{subDetail1.weak_chapter_marks}}</h3><br>
<h3><div>Percentage:</div> {{subDetail1.percentage}}</h3><br>

</div>
<div class="details">
<h3><div>Subject:</div> {{sub1}}</h3><br>
<h3><div>Total Test of this particular subject:</div> {{subDetail1.total_test}}</h3><br>
<h3><div>Total marks of test:</div> {{subDetail1.total_marks}}</h3><br>
<h3><div>Marks obtained:</div> {{subDetail1.marksobtained}}</h3><br>
<h3><div>Best chapter:</div>{{subDetail1.best_chapter}}</h3><br>
<h3><div>Weak Chapter:</div>{{subDetail1.weak_chapter}}</h3><br>
<h3><div>Best Chapter Marks:</div> {{subDetail1.best_chapter_marks}}</h3><br>
<h3><div>Weak Chapter Marks:</div> {{subDetail1.weak_chapter_marks}}</h3><br>
<h3><div>Percentage:</div> {{subDetail1.percentage}}</h3><br>

</div>
</div>        
</div>
</div>
  </body>
  </html>