{% extends 'Home/nav.html' %}
{% load static %}
{% block title %}10thies | All Questions {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/compare-subject.css' %}">
<div class="quiz-container" id="quiz">
    <div class="quiz-header">

        {% if status == 'False' %}

      <h1>COMPARE 2 SUBJECTS</h1>
      <form action="{% url 'custom_subject_compare' %}" method="post">
          {% csrf_token %}
      <div class="dropdown">
      <div class="select">
    <select name="Fsubject" id="format">
        {% for sub in subjects %}
        <option value="{{sub}}">{{sub}}</option>
        {% endfor %}
 </select>
</div>

    <div class="select">
    <select name="Ssubject" id="format">
        {% for sub in subjects %}
    <option value="{{sub}}">{{sub}}</option>
    {% endfor %}
 </select>
</div>
</div>
<input type="submit" value="COMPARE">
</form>

{% else %}

<div class="dropdown">
  <div class="details">
<h3><div>Subject:</div> {{sub1}}</h3><br>
<h3><div>Total Test of this particular subject:</div> {{subDetail1.total_test}}</h3><br>
<h3><div>Total marks of test:</div> {{subDetail1.total_marks}}</h3><br>
<h3><div>Marks obtained:</div> {{subDetail1.marksobtained}}</h3><br>
<h3><div>Best chapter:</div>{{subDetail1.best_chapter}}</h3><br>
<h3><div>Weak Chapter:</div>{{subDetail1.weak_chapter}}</h3><br>
<h3><div>Best Chapter Marks:</div> {{subDetail1.best_chapter_marks}}</h3><br>
<h3><div>Weak Chapter Marks:</div> {{subDetail1.weak_chapter_marks}}</h3><br>
<h3><div>Percentage:</div> {{subDetail1.percentage}}</h3><br>

</div>
<div class="details">
<h3><div>Subject:</div> {{sub1}}</h3><br>
<h3><div>Total Test of this particular subject:</div> {{subDetail1.total_test}}</h3><br>
<h3><div>Total marks of test:</div> {{subDetail1.total_marks}}</h3><br>
<h3><div>Marks obtained:</div> {{subDetail1.marksobtained}}</h3><br>
<h3><div>Best chapter:</div>{{subDetail1.best_chapter}}</h3><br>
<h3><div>Weak Chapter:</div>{{subDetail1.weak_chapter}}</h3><br>
<h3><div>Best Chapter Marks:</div> {{subDetail1.best_chapter_marks}}</h3><br>
<h3><div>Weak Chapter Marks:</div> {{subDetail1.weak_chapter_marks}}</h3><br>
<h3><div>Percentage:</div> {{subDetail1.percentage}}</h3><br>

</div>
</div>        
</div>
</div>

{% endif %}
{% endblock %}