<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
     <link rel="stylesheet" href="stylequizquestions.css">
   </head>
   <body>

    <!-- XXXXXXXXXXXX NAVIGATION XXXXXXXXXXXX -->
       <nav>
         <div class="menu-icon">
            <span class="fas fa-bars"></span>
         </div>
         <div class="logo">
          <a href="index.html"><span style="color: var(--main-color) ;">10</span>thies</a>
         </div>
         <div class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">Quiz</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">QuickMap</a></li>
            <li><a href="#">Guide</a></li>
         </div>
         <div class="user">
          <a  href=""><span  class="fas fa-user"></span></a>
         </div>
         <div class="cancel-icon">
            <span class="fas fa-times"></span>
         </div>
       <div  class="nav-items log">
         <li>
            <a class="fas fa-user"> Sign-Up</a>
         </li>
       </div>
         
      </nav>
      <div class="quiz-container" id="quiz">
      <div class="quiz-header">
        <form action="http://localhost:8000/Quiz/show-ques" class="form" method="post">
        {% csrf_token %}<br>
        <h2><div>{{qno}}</div></h2>
        <h2><div id="question">{{question.ques}}</div></h2><br>
        <input type="radio" name="answer" id="a" class="answer" value="{{question.option1}}" checked><label for="a" id="a_text">{{question.option1}}</label><br>

        <input type="radio" name="answer" id="b" class="answer" value="{{question.option2}}"><label for="b" id="b_text">{{question.option2}}</label><br>

        <input type="radio" name="answer" id="c" class="answer" value="{{question.option3}}"><label for="c" id="c_text">{{question.option3}}</label><br>

        <input type="radio" name="answer" id="d" class="answer" value="{{question.option4}}"><label for="d" id="d_text">{{question.option4}}</label><br>
    </div>
  </form>
  <input type="submit" class="button" value="Next">
</div>
  </body>
  </html>
