<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenthies | Quiz</title>
</head>
<body>
    {% csrf_token %}
    <h1>Subjects</h1>
    {% for sub in subjects %}
    <div>
        <div><img src="{{sub.subimg.url}}" alt=""></div>
        <div style="background-color: {{sub.sub_bgcolor}};">{{sub.subcode}}</div>
        <div>{{sub.subname}}</div>
        <div>{{sub.chname}}</div>
        <div>{{sub.level}}</div>
        <div><a href="http://localhost:8000/Quiz/take-test?level={{sub.level}}&chname={{sub.chname}}&subname={{sub.subname}}&subcode={{sub.subcode}}">Take test</a></div>
    </div>
    {% endfor %}
    
    <!-- SUBJECT CARDS  -->

	  <section class="home2"> 
		<a href="#" class="blog-cards maths-color maths ">
			<div class="overlay"></div>
		 <div class="circle">
	
		 </div>
		 <p> Maths </p>
	   </a>
	   
	   
	   <a href="#" class="blog-cards geo-color geography ">
			<div class="overlay"></div>
		 <div class="circle">
		 </div>
		 <p>Geography</p>
	   </a>

	   <a href="#" class="blog-cards history-color history ">
			<div class="overlay"></div>
		 <div class="circle">
		 </div>
		 <p>History</p>
	   </a>
	  </section>
    
</body>
</html>
