{% extends 'Home/nav.html' %}
{% load static %}
{% block title %} 10thies | Test {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style-quiz-subjects.css' %}">
      <div class=heading>
         <h1><i class="{{logo}}"><span>{{subname}}</span></i></h1>
      </div>
      {% for sub in test_sheet %}
      <section class="Containers">
         <div class="layout">
         <div class="Subcode">{{sub.subcode}}</div>
        <div class="Chname">{{sub.chname}}</div>
        <div class="Level">{{sub.level}}</div> <br>
        {% if user.is_authenticated %}
            <div class="buttoncenter"><a href="http://10thies.live/Quiz/take-test?level={{sub.level}}&chname={{sub.chname}}&subname={{sub.subname}}&subcode={{sub.subcode}}&tques={{sub.totalquestions}}"><button class="favorite styled"type="button">
          GIVE QUIZ
         </button></a>
      </div>
      {% else %}
      <div class="buttoncenter"><a href="http://10thies.live/User/signin"><button class="favorite styled"type="button">
         GIVE QUIZ
        </button></a>
     </div>
      {% endif %}
      </div>
   </section>
   {% endfor %}
{% endblock %}
   
