{% extends 'Home/nav.html' %}
{% load static %}
{% block title %} 10thies | Test {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style-quiz-subjects.css' %}">
      
      <div class="wrap">
      {% for sub in test_sheet %}
         <div class="box red">
             <h2 style="color: black; font-size: 27px;">{{sub.subname}}</h2>
             <h2 style="color: rgb(19, 19, 19);">{{sub.chname}}</h2>
             <p>{{sub.level}}</p>
             <div class="button-wrap">
                 <a href="http://localhost:8000/Quiz/take-test?id={{sub.id}}" class="button">Play Quiz !</a>
             </div>
            </div>
        
     
   {% endfor %}
</div>
{% endblock %}
   
