<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{% static 'css/subjectcard.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenthies | Subjects</title>
	
</head>
<body>
    <!-- SUBJECT CARDS  -->
	  <section class="home2"> 
		{% for sub in subjects %}
		<a href="http://localhost:8000/{{goto}}?subname={{sub.subname}}" class="blog-cards" style=" --bg-color: {{sub.sub_bgcolor}}; 
		--text-color-hover: {{sub.sub_textcolor_hover}};--bg-color-light: {{sub.sub_bgcolor_light}};
		 --box-shadow-color: {{sub.sub_boxshadow_color}}">
			<div class="overlay"></div>
		 <div class="circle" style="background-image: url({{sub.subimg.url}}); background-repeat: no-repeat;
		 background-position: center; background-size: 130px;">
		 </div>
		 <p> {{sub.subname}}</p>
	   </a>
	   {% endfor %}
	  </section>
    
</body>
</html>