<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:8000/User/changepassword" method="post">
        {% csrf_token %}
        Username:<input type="text" name="username" required>
        Email:<input type="email" name="email" required>
        Old Password:<input type="password" name="oldpassword" required>
        New Password:<input type="password" name="newpassword" required>
        <input type="submit" value="Change Password">
    </form>
</body>
</html>