
<!DOCTYPE html>
{% load static %}
   <head>
      <meta charset="utf-8">
      <title>Password Reset Completed</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="icon" type="image/x-icon" href="images/favicon.ico">
     <link rel="stylesheet" href="{% static 'css/forgot-password-style.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="menu-icon">
            <span class="fas fa-bars"></span>
         </div>
         <div class="logo">
          <a href="http://localhost"><span style="color: var(--main-color) ;">10</span>thies</a>
         </div>
         <div class="nav-items">
            <li><a href="http://localhost:8000">Home</a></li>
            <li><a href="http://localhost:8000/Quiz/">Quiz</a></li>
            <li><a href="http://localhost:8000/resources/">Resources</a></li>
            <li><a href="http://localhost:8000/quickmap/">QuickMap</a></li>
            <li><a href="#">Guide</a></li>
         </div>
         <div class="user">
          <a href="http://localhost:8000/Profile"><span  class="fas fa-user"></span></a>  
         </div>
       </div>
      </nav>

      <section class="signin-page">
        <div class="sign-content">
            <header><span style="color: var(--main-color) ;">10</span>thies</header>
            <div>Your password has been reset</div>
            <div class="signup">
               <a href="http://localhost:8000/User/signup">Signup</a> | <a href="http://localhost:8000/User/signin">Login</a>
            </div>
         </div>
      </section>
        
     </div>
     <script src="{% static 'js/main.js'%}"></script>
    </body>