{% extends 'Home/nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot-password-style.css' %}">
      <section class="signin-page">
        <div class="sign-content">
            <header><span style="color: var(--main-color) ;">10</span>thies</header>
            <div>Your password has been reset</div>
            <div class="signup">
               <a href="http://localhost:8000/User/signup">Signup</a> | <a href="http://localhost:8000/User/signin">Login</a>
            </div>
         </div>
      </section>
{% endblock %}