{% extends 'Home/nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot-password-style.css' %}">
      <section class="signin-page">
        <div class="sign-content" style="width: 600px; height: 400px;">
            <header style="font-size: 60px;"><span style="color: var(--main-color) ;">10</span>thies</header>
            <p style="font-size: large;">We have send you a email to reset your password on the given email id</p><br>
            <p style="font-size: smaller; color: rgb(231, 96, 96);">Note: If you don't get the email check it in the spam folder</p><br><br>
            <div class="signup" style="font-size: 25px;">
                <a href="http://localhost:8000/User/signup">Signup</a> | <a href="http://localhost:8000/User/signin">Login</a>
            </div>
         </div>
      </section>

{% endblock %}