{% extends 'Home/nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot-password-style.css' %}">
<script src="{% static 'js/validation.js' %}"></script>
<section class="signin-page">
    <div class="sign-content">
        <header>Login | <span style="color: var(--main-color) ;">10</span>thies</header>
        <form action="{% url 'signin' %}" method="post">
            {% csrf_token %}
            <div class="field">
                <span class="fas fa-user-graduate"></span>
                <input type="text" required placeholder="Username" value="{{name}}" name="username" id="username">
             </div>
           <div class="field space">
              <span class="fa fa-user"></span>
              <input type="text" required placeholder="Email" name="email" id="email">
           </div>
           <div class="field space">
              <span class="fa fa-lock"></span>
              <input type="password" class="pass-key" required placeholder="Password" name="password" id="password">
              <span class="show" onclick="change()" id="show">SHOW</span>
           </div>
           <div class="pass">
              <a href="{% url 'password_reset' %}">Forgot Password?</a>
           </div>
           <div class="field">
              <input type="submit" value="LOGIN">
           </div>
        </form>
     
        <div class="signup">
           Don't have account?
           <a href="{% url 'signup' %}">Signup Now</a>
        </div>
     </div>
  </section>
    
{% endblock %}
