<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Sign Up</title>
</head>
<body>
    <form action="http://localhost:8000/User/signup" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username" required>
        Email:<input type="email" name="email" required>
        Password:<input type="password" name="password" required>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>