{% extends 'Home/nav.html' %}
{% load static %}
{% block title %}10thies | Profile{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css'  %}">

    
</head>
<body>	
  <h1>My Profile</h1>          
  <div class="wrapper">
    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        {% if profile.profile_img %}
        <img src="{{profile.profile_img.url}}" alt="profile card">
        {% else %}
        <img src="{% static 'images/user.gif' %}" alt="profile card">
        {% endif %}
          <div class="middle">
          <!--<div class="upload"><a href=""><i class="fa fa-upload" aria-hidden="true"></i></a></div>-->
        </div>
      </div>
  
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">{{user.username}}</div>
        <div class="profile-card__txt"> <strong>Student</strong> </div>
        <div class="profile-card__txt">{{user.email}}</div>
      
  
        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{total_test}}</div>
            <div class="profile-card-inf__txt">Tests</div>
          </div>

          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{tresult.marksobtained}}</div>
            <div class="profile-card-inf__txt">Your Total</div>
          </div>

          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{tresult.totalmarks}}</div>
            <div class="profile-card-inf__txt">Total Marks</div>
          </div>
  
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{tresult.percentage}}</div>
            <div class="profile-card-inf__txt">Percentage</div>
          </div>
            
            <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{profile.weak_subject}}</div>
            <div class="profile-card-inf__txt">Weak Subject</div>
          </div>
            
             <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{profile.best_subject}}</div>
            <div class="profile-card-inf__txt">Best Subject</div>
          </div>
            
        </div>
          
          
     
  
        
        <div class="profile-card-ctr">
          <a href="{% url 'home' %}"><button class="profile-card__button button--orange">Back</button></a>
          <a href="{% url 'signout' %}"><button class="profile-card__button button--blue js-message-btn">Sign-Out</button></a>
         
        </div>
      </div>
    </div>
  </div>

  {% if tresult.percentage %}
<div class="wrapper">
  <div class="profile-card quiz">
    <table>
      <caption><strong>Quiz History</strong></caption>
      <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Chapter</th>
          <th scope="col">Marks Obtained</th>
          <th scope="col">Total Marks</th>
          <th scope="col">Percentage</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for res in result %}
          <td data-label="Subject">{{res.subname}}</td>
          <td data-label="Chapter">{{res.chname}}</td>
          <td data-label="Marks Obtained">{{res.marksobtained}}</td>
          <td data-label="Total Marks">{{res.totalmarks}}</td>
          <td data-label="Percentage">{{res.percentage}}</td>
          <td data-label="Revisit"><a href="http://localhost:8000/Profile/show-details?questions={{res.questions}}&correctanswer={{res.correctanswer}}&useranswers={{res.useranswers}}"><button class="recheck" style="cursor: pointer;">Details</button></a></td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}
