<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <link rel="stylesheet" href="style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="quiz-container" id="quiz">
      <div class="quiz-header">
      	<h1>QUIZ HISTORY</h1>
        <h2><div class="question">{{qno}}. </div></h2>
        <h2><div class="question2">{{question.ques}}</div></h2><br>

        <div class="answer">
        
        	<h3>Your Answer: <div class="your-answer" >your-answer</div></h3><br>
        
        	<h3>Correct Answer: <div class="correct-answer" display="inline">correct-answer</div></h3><br>

        </div>
/*more questions.....*/

    </div>
</div>
  </body>
  </html>