{% extends 'Home/nav.html' %}
{% load static %}
{% block title %}10thies | Quiz Details{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/quiz-history-details.css' %}">
<div class="quiz-container" id="quiz">
      <div class="quiz-header">

      	<h1 style="margin: 10px;">QUIZ HISTORY</h1>
        {% if status %}
        {% for question,useranswer,correctanswer in zip_data %}
        <h2><div class="question2" style="display: block; text-align: left;"><b>Ques</b></div></h2>
        <h2><div class="question2">{{question}}</div></h2><br>
        <div class="answer">
        {% if useranswer == correctanswer %}
        	<h3>Your Answer: <div class="correct-answer" >{{useranswer}}</div></h3><br>
        {% else %}
        <h3>Your Answer: <div class="your-answer" >{{useranswer}}</div></h3><br>
        {% endif %}
        	<h3>Correct Answer: <div class="correct-answer" display="inline">{{correctanswer}}</div></h3><br>

        </div>
        {% endfor %}
        {% else %}
        <div style="font-size: 1rem; text-align: center;">Do not have sufficient data</div>
        {% endif %}
    </div>
</div>
{% endblock %}