<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="team.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Document</title>
</head>
<body>
   <section>
    <div class="container">
        <div class="section-title">
            <h1>Founding Team</h1>
        </div>

        <div class="row">


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../images/ujjwal.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Ujjwal Gupta</h2>
                        <h3>Chief Backend Developer</h3>
                        <p>describes about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-yt"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../images/aryandp.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Aryan Singh</h2>
                        <h3>Chief Frontend Developer</h3>
                        <p>describes about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fab fa-github"></i></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../images/mrigankdp.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Mrigank Singh</h2>
                        <h3>Chief Frontend Developer</h3>
                        <p>describe about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fab fa-github"></i></i></a>
                    </div>
                </div>
            </div>

            

        </div>

    </div>
   </section>

    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<h4><span style="color: var(--main-color) ;">10</span>thies</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Quiz</a></li>
						<li><a href="#">Resources</a></li>
						<li><a href="#">Quickmap</a></li>
						<li><a href="#">Guide</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4><span style="color: var(--main-color) ;">Q</span>ueries</h4>
					<ul>
						<li><a href="#">The Team</a></li>
						<li><a href="#">Report</a></li>
						<li><a href="#">Ad Service</a></li>
						
					</ul>
				</div>
				<div class="footer-col">
					<h4><span style="color: var(--main-color) ;">B</span>ussiness</h4>
					<ul>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Partners</a></li>
						<li><a href="#">Terms and policy</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4><span style="color: var(--main-color) ;">F</span>ollow</h4>
					<div class="social-links">
						<a href="#"><i class="fab fa-linkedin"></i></a>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
   </footer>
     <!-- XXXXXXXXXXXX COPYRIGHT CLAIM XXXXXXXXXXXX -->
   <div class="end">
	<center>
		<span class="credit"><a href="#">10thies</a> | </span>
		<span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
	  </center>
   </div>
</body>
</html>