{% extends 'Home/nav.html' %}
{% block title %} 10thies | Home {% endblock %}
{% block content %} 
 <!-- XXXXXXXXXXXX LANDING PAGE XXXXXXXXXXXX -->
     <section class="home1" ><div class="content">
        <h1 class="space"><span style="color: var(--main-color) ;">10</span>thies</h1>
         
           <h3>For the Students, By the Students</h3> 
          <p>10thies is a free platform for students to Learn, Practice, Support and Guidance to cross every obstacle with ease. </p>

        <button class="home-btn">Learn!</button> 
      </div></section> 
  <!-- XXXXXXXXXXXX WHY SHOULD YOU TRUST US XXXXXXXXXXXX -->
	 <section class="home4">
			<div class="home4-head">
				<h1>Why should you trust us?</h1>
			</div>
			<div class="trust-block">

					<div class="inner-text">NEVER TRUST SOMEONE WITH 20/40 IN ENGLISH :) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nam ipsum ab molestiae nulla temporibus, ex est nesciunt culpa quae iusto, voluptatum dolorum hic tempora? Odit quo ut dolorum, itaque saepe asperiores harum, architecto quisquam omnis consectetur quaerat quas provident ipsa, doloremque aperiam. Recusandae nesciunt fugiat harum facere maxime enim. <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae exercitationem assumenda dolorem, quasi quae et voluptatum eum earum, provident laboriosam nulla magni deserunt hic fuga explicabo suscipit architecto iure sit!
					</div>
				<div>
	 </section>
    <!-- XXXXXXXXXXXX APPRECIATION  XXXXXXXXXXXX -->
	 <section class="home5">
		<div class="testimonials-section">
			<input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
			<input type="radio" name="slider" title="slide2" class="slider__nav"/>
			<input type="radio" name="slider" title="slide3" class="slider__nav"/>
			<input type="radio" name="slider" title="slide4" class="slider__nav"/>
			<input type="radio" name="slider" title="slide5" class="slider__nav"/>
		  <div class="slider__inner">
			<div class="slider__contents">
			  <quote>&rdquo;</quote>
			  <p class="slider__txt">10thies is a brilliant initiative. It won't  only help students learn but also encourage them to test their knowledge providing confidence in any test.</p>
			  <h2 class="slider__caption">Ms Xavier, CMS Rajajipuram</h2>
			</div>
			<div class="slider__contents">
			  <quote>&rdquo;</quote>
			  <p class="slider__txt">10thies is a brilliant initiative. It won't  only help students learn but also encourage them to test their knowledge providing confidence in any test.</p>
			  <h2 class="slider__caption">Ms Xavier, CMS Rajajipuram</h2>
			</div>
			<div class="slider__contents">
			  <quote>&rdquo;</quote>
			  <p class="slider__txt">10thies is a brilliant initiative. It won't only help students learn but also encourage them to test their knowledge providing confidence in any test.</p>
			  <h2 class="slider__caption">Ms Xavier, CMS Rajajipuram</h2>
			</div>
			<div class="slider__contents">
			  <quote>&rdquo;</quote>
			  <p class="slider__txt">10thies is a brilliant initiative. It won't  only help students learn but also encourage them to test their knowledge providing confidence in any test.</p>
			  <h2 class="slider__caption">Ms Xavier, CMS Rajajipuram</h2>
			</div>
			<div class="slider__contents">
			  <quote>&rdquo;</quote>
			  <p class="slider__txt">10thies is a brilliant initiative. It won't  only help students learn but also encourage them to test their knowledge providing confidence in any test.</p>
			  <h2 class="slider__caption">Ms Xavier, CMS Rajajipuram</h2>
			</div>
			
		  </div>
		</div>
	 </section> 

	<!-- XXXXXXXXXXXX FOOTER XXXXXXXXXXXX -->
  <footer class="footer">
	<div class="container">
	   <div class="row">
		  <div class="footer-col">
			 <h4><span style="color: var(--main-color) ;">10</span>thies</h4>
			 <ul>
				<li><a href="http://localhost:8000">Home</a></li>
				<li><a href="http://localhost:8000/Quiz">Quiz</a></li>
				<li><a href="http://localhost:8000/resources">Resources</a></li>
				<li><a href="http://localhost:8000/quickmap">Quickmap</a></li>
				<li><a href="#">Guide</a></li>
			 </ul>
		  </div>
		  <div class="footer-col">
			 <h4><span style="color: var(--main-color) ;">Q</span>ueries</h4>
			 <ul>
				<li><a href="{% url 'construction' %}">The Team</a></li>
				<li><a href="{% url 'construction' %}">Report</a></li>
				<li><a href="{% url 'construction' %}">Ad Service</a></li>
				
			 </ul>
		  </div>
		  <div class="footer-col">
			 <h4><span style="color: var(--main-color) ;">B</span>ussiness</h4>
			 <ul>
				<li><a href="{% url 'construction' %}">Privacy Policy</a></li>
				<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
				<li><a href="{% url 'construction' %}">Partners</a></li>
				<li><a href="{% url 'construction' %}">Terms and policy</a></li>
			 </ul>
		  </div>
		  <div class="footer-col">
			 <h4><span style="color: var(--main-color) ;">F</span>ollow</h4>
			 <div class="social-links">
				<a href="#"><i class="fab fa-linkedin"></i></a>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
			 </div>
		  </div>
	   </div>
	</div>
 </footer>
   <!-- XXXXXXXXXXXX COPYRIGHT CLAIM XXXXXXXXXXXX -->
 <div class="end">
 <center>
	<span class="credit"><a href="{% url 'home' %}">10thies</a> | </span>
	<span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
   </center>
 </div>


{% endblock %}
